body{
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgb(6, 29, 133)): #000;    
    background-image: url('../img/background.jpg');
    
    
}
header{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3a3a3a;
    padding: 1px 18px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.rodape{
    padding: 3%;
}


.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 2em;
}
h2,h3,h4,h5{
    font-size: 1.5em;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li {
    margin: 0 10px;
}


nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

nav ul li a:hover {
    background-color:grey;
    border-radius: 6px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #444444;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }
    
    nav ul li label {
        width: 100%;
        display: block;
    }
}


main{
    margin-top: 70px;
    padding: 20px;
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    padding: 20px;
}
footer{
   
    padding: 3%;
}

.logo img {
    
    max-width: 100%; 
 
    height: 65px;
}


h1,h2,h3,h4,h5,p,li,figcaption{
    color: #fff;
}

.caixa-imagem {
    text-align: center;
    margin-top: 5%;    
}

figure {
    text-align: center;
    display: inline-block;    
}

figure img {
    display: block;
    margin: 0 auto;    
    box-shadow: 0px 4px 8px #444444;  
    max-width: 100%; 
    height: auto;
}

figure figcaption{
    margin: 1.0em;    
    text-align: center;
    color: #d8c47c;
}
.caixa-imagem img{

    width: 380px;
    height: auto;
}

  
.container {
    width: auto;
    margin: auto;
   
  }
  
  .texto-centralizado {
    text-align: center;
    font-size: 1.5em;
  }